<%
  genre ||= @genre
%>


<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% genre do |g| %>
  <tr>
    <td><%= link_to g.name, edit_genre_path(g), :remote => true %></td>
    <td><%= g.desc %></td>
    <td><%= link_to "delete", %></td>
  </tr>
  <% end %>
</table>