<%
  order_detail ||= @order_detail
%>

<tr id = "<%= order_detail.id %>">
  <td><%= link_to Book.find(order_detail.book_id).name, edit_order_detail_path(:id => order_detail.id), :remote => true %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= link_to "Delete", order_detail, :method => :delete, :confirm => "Do you want to delete this entry?", :remote => true %></td>
</tr>