<%
  author ||= @author;
%>

<tr id="<%= author.id %>">
  <td><%= link_to author.name, edit_author_path(author),:remote=>true %></td>
  <td><%= author.DOB %></td>
  <td><%= link_to "delete",author, :method => :delete, :remote=>true, :confirm=>"Are you sure?" %></td>
</tr>