<html>
<table border="1">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Date of Birth</th>
    </tr>
  </thead>
  <tbody>
    <%= render @authors %>
  </tbody>
</table>
<div id="form_container"></div>
</html>