<html>
<div class = "table">
  <table border = "1">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @publishers.each do |p| %>
    <tr>
      <td><%= link_to p.name, publisher_path(p) %></td>
      <td><%= p.desc %></td>
    </tr>
    <% end %>
  </table>
</div>
</html>