<!DOCTYPE html>
<html>

<%=
    order ||= @order
%>

<table border = "1" id="order_detail">
  <thead>
    <tr>
      <td>Book</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </thead>
  <tbody>
    <%=
        @order_details = @order.order_details
        render @order_details
    %>
  </tbody>
</table>

</html>

