
<div class = "table">
  <table border = '1' id="book_table">
    <thead>
<tr>
  <th>Book_Name</th>
  <th>Publish_Year</th>
  <th>Author's_Name</th>
  <th>Belongs_To</th>
  <th>Publisher's_Name</th>
  <th>Price</th>
  <th></th>
</tr>
    </thead>
  <tbody> <%= render @books %>
  </tbody>

  </table>
</div>